@{
    ViewBag.Title = "Users Page";
}

<div id="app">
    <div class="container">
        <div class="box-top shadow-card row">
            <div class="col-1">
                <div class="task">
                    <span>
                        Tasks
                    </span>
                </div>
            </div>
            <div class="col-2">
                <div class="user">
                    <span>
                        User
                    </span>
                </div>
            </div>
            <div class="col-2">
                <div class="box-email">
                    <span>
                        Email
                    </span>
                </div>
            </div>
            <div class="col-3">
                <div class="box-email">
                    <span>
                        Role
                    </span>
                </div>
            </div>
            <div class="col-2">
                <div class="box-status">
                    <span>Count Task</span>
                </div>
            </div>
            <div class="col-2">
                <div class="box-status-right">
                    <span>Action</span>
                </div>
            </div>
        </div>
        <div>
            <ul class="list-group">
                <li class="list-group-item shadow-sm bg-white rounded mb-3" v-for="(user,index) in users">
                    <div class="row">
                        <div class="col-1" data-toggle="collapse" :data-target="'#collapseTodos'+index">
                            <div v-if="user.Plus == true">
                                <i class="far fa-plus-circle circle" v-on:click="user.Plus = false,$forceUpdate()"></i>
                            </div>
                            <div v-else-if="user.Plus == false">
                                <i class="far fa-minus-circle circle" v-on:click="user.Plus = true,$forceUpdate()"></i>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="user-name-admin">
                                <span>{{ user.UserName }}</span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="user-email">
                                <span>
                                    {{ user.Email }}
                                </span>
                            </div>
                        </div>
                        <div class="dropdown col-3">
                            <button class="btn btn-secondary dropdown-toggle user-role user-selection" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span v-if="!user.UserRole && !selectedRole.Name">User Role</span>
                                <span v-else>{{ user.UserRole }}</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <div v-for="role in roles">
                                    <a class="dropdown-item" href="#" v-on:click="SelectRole(role), AssignRole(user.Id, role.Name)">{{ role.Name }}</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="user-tasks">
                                <span>
                                    {{ user.CountTask }}
                                </span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="trash">
                                <i class="fal fa-trash-alt cursor-pointer" v-on:click="DeleteUser(user)"></i>
                            </div>
                        </div>
                    </div>
                    <div class="collapse" :id="'collapseTodos'+index">
                        <div>
                            <div class="list-group">
                                <div class="list-group-item mb-2" v-if="user.CountTask != 0">
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="user-task">
                                                <span>Task</span>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="user-priority">
                                                <span>Priority</span>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="user-status">
                                                <span>Status</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-group" v-for="todo in user.Todos">
                            <div class="list-group-item mb-2">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="user-task">
                                            <span>{{ todo.TaskName }}</span>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="user-priority">
                                            <span class="badge badge-card" v-bind:class="{ 'badge-high' : todo.PriorityLevel == 1, 'badge-medium' : todo.PriorityLevel == 2, 'badge-low' : todo.PriorityLevel == 3 }">
                                                {{ todo.Priority }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="user-status">
                                            <span v-if="todo.Status == true" class="user-status-done">
                                                <i class="fas fa-check-circle"></i>
                                                Done
                                            </span>
                                            <span v-if="todo.Status == false">
                                                <i class="far fa-check-circle"></i>
                                                To be done
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Assets/js/pages/User.js"></script>
}
